# Build directories
obj/
bin/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Precompiled Headers
*.gch
*.pch

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
